             
<section class="disqus">
    <a href="{{ site.baseurl }}/" class="dsq-brlink"> << Về <span class="logo-disqus">trang chủ</span></a>
</section>
<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://quocdinhit-tk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<script id="dsq-count-scr" src="//quocdinhit-tk.disqus.com/count.js" async></script>